* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #222;
    color: #f4f4f4;
}

/* Navigation */
nav {
    background: #222;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FFC1CC;
}
.pic{
    height: 400px;
    width: 300px;
    border: #222 ;
    border-radius: 100px;
}
.container {
  display: flex;
  flex-wrap: wrap;          
  gap: 20px;               
  justify-content: center;  
  padding: 20px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: #FFC1CC;
  color: white;
  display: flex;
  align-items: center;     
  justify-content: center;  
  font-size: 18px;
  border-radius: 20px;
  position: relative;
  
}
a{
    text-decoration: none;
    color: #000;
}
.box1{
 background-image: url(images/coding.png);
}
.box2{
 background-image: url(images/coding.png);
}
.box3{
 background-image: url(images/coding.png);
}
.box4{
 background-image: url(images/itsupport2.png);
}
.box5{
 background-image: url(images/videography2.jpg);
}
.box6{
 background-image: url(images/teamm2.png);
}
.box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.box span {
  position: relative;
  z-index: 1;
}

/* Sections */
.section {
    padding: 60px 20px;
    text-align: center;
    background: #000;
    margin: 20px;
    border-radius: 8px;
}

#home span {
    color: #FFC1CC;
}

/* Skills */
.skills-list {
    list-style: none;
    margin-top: 20px;
}

.skills-list li {
    display: inline-block;
    background: #FFC1CC;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

/* Contact Form */
form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #FFC1CC;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: #FFC1CC;
}

/* Footer */
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
}
